.hamburger-menu {
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }
  
  .hamburger {
    width: 50px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
  }
  
  .hamburger.open .line:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
  }
  
  .hamburger.open .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.open .line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  
  .line {
    width: 100%;
    height: 2px;
    background-color: rgb(31, 31, 31);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }